EMAIL = "obwebsitedesign@gmail.com"
PASSWORD = "mqzcxllgcoprfxia"
USERNAME = "obwebsitedesign@gmail.com"

EMAIL_CODE_DURATION_IN_MINUTES: int = 15
ACCESS_TOKEN_EXPIRE_MINUTES: int = 60
REFRESH_TOKEN_DURATION_IN_MINUTES: int = 600
PASSWORD_RESET_TOKEN_DURATION_IN_MINUTES: int = 15
ACCOUNT_VERIFICATION_TOKEN_DURATION_IN_MINUTES: int = 15

TWILIO_PHONE_NUMBER: str = '+16196584362'
TWILIO_AUTH_TOKEN: str = '7b6c506ee07337cc3d02536d5119c4b2'
TWILIO_ACCOUNT_SID: str = 'AC959cbde01aced5669b0121ffea2df117'

MAIL_USERNAME="SMART CONFERNECE APP"
MAIL_PASSWORD="mqzcxllgcoprfxia"
MAIL_FROM="obwebsitedesign@gmail.com"
MAIL_PORT = 587,
MAIL_SERVER = "smtp.gmail.com",
MAIL_STARTTLS = True,
MAIL_SSL_TLS = False,
USE_CREDENTIALS = True,
VALIDATE_CERTS = True
DEFAULT_MAIL_SUBJECT: str = "SOME DEFAULT SUBJECT HERE"