alembic
bcrypt
cloudinary==1.24.0
fastapi==0.92.0
fastapi_jwt_auth
fastapi_mail
passlib
pydantic[email]
PyMySQL
python-dotenv
python-multipart
python-jose[cryptography]
starlette
sqlalchemy==2.0.4
uuid
uvicorn==0.20.0

